$spacing: ( 'xxs': 4px, 'xs': 8px, 's': 16px, 'm': 24px, 'l': 48px, 'xl': 96px);
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 48px;
$spacing-xl: 96px;
$border-radius: 4px;
$border-color: #dbdbdb;
$background-grey-color: rgba(0, 0, 0, 0.02);
$font: ( 'xxs': 4px, 'xs': 8px, 's': 12px, 'm': 14px, 'ml': 16px, 'l': 24px, 'xl': 48px);
$active-blue: #013f9a;
$active-red: #ac0015;
$active-red: #009949;
$background-1: #f6f7fb;
$black: #000000;
$border: #d4d4d5;
$primary-green: #00b657;
$primary-red: #ce0019;
$primary-blue: #0054ce;
$dark-text-color: #3F454E;
$color-dark-blue: #54698D;